/* Hamburger */

.hamburger {

  position: fixed;

  top: 22px;
  left: 20px;

  z-index: 1200;

  font-size: 30px;

  color: white;

  cursor: pointer;

  padding: 4px 12px;

  border-radius: 8px;

  transition: 0.3s;
}

.hamburger:hover {

  background:
    rgba(255,255,255,0.15);
}

/* Sidebar */

.sidebar {

  position: fixed;

  top: 0;
  left: -270px;

  width: 260px;
  height: 100vh;

  background: #0f172a;

  padding: 90px 20px 20px;

  transition: left 0.3s ease;

  z-index: 1100;

  box-shadow:
    5px 0 20px rgba(0,0,0,0.4);
}

.sidebar.open {

  left: 0;
}

.sidebar-title {

  margin-bottom: 25px;

  font-size: 22px;

  color: #facc15;

  letter-spacing: 1px;
}

.sidebar a {

  display: block;

  padding: 14px 15px;

  margin-bottom: 10px;

  color: white;

  text-decoration: none;

  font-size: 17px;
  font-weight: 500;

  border-radius: 10px;

  transition: 0.25s;
}

.sidebar a:hover {

  background: #334155;

  color: #facc15;

  padding-left: 22px;
}

/* Overlay */

.overlay {

  position: fixed;

  inset: 0;

  background:
    rgba(0,0,0,0.45);

  z-index: 1000;
}